<div id="content">   
    <div class="pictureContainer">
        <div id="arrow1" style="left:0px; position: relative;"></div>
        <div class="pixel"></div>
        <div class="stopButton" onclick="Randomizer.startRandomizer(0)"></div>       
    </div>
    <div class="pictureContainer">
        <div id="arrow2" style="left:0px; position: relative;"></div>
        <div class="illust"></div>
        <div class="stopButton" onclick="Randomizer.startRandomizer(1)"></div>
    </div>
    <div class="pictureContainer">
        <div id="arrow3" style="left:0px; position: relative;"></div>
        <div class="tree"></div>
        <div class="stopButton" onclick="Randomizer.startRandomizer(2)"></div>
    </div>
</div>

